*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{

	margin-left: 50px;
    margin-top: 50px;
	width: 90%;
	height: 80vh;
	/*border: 5px solid red;*/
	box-shadow: 0px 0px 10px 3px grey;
	overflow: hidden;
	border: 5px solid #3949ab;
}

.slider{

	width: 49%;
    /* background-color: red; */
	height: 150px;
	margin: 50px auto;
	position: relative;
	box-shadow: 0px 0px 10px 3px grey;
	overflow: hidden;
	border: 5px solid #3949ab;
}


.slider figure{

	margin: 0px;
	position: relative;
	width: 200%;
	left: 0px;
	transition: 1s ease-in-out;
    display: flex;
}
.slider figure img{

	width: 170px;;
	/* height: 150%; */
	float: left;
    padding-right: 5px;
}

.btn-next, .btn-prev{

	position: absolute;
	top: 30%;
	cursor: pointer;
	color: white;
	background: #3949ab;
	padding: 10px;
	font-size: 20px;

	border: none;
}
.btn-prev{
    left: 0px;

}
.btn-next{
    right: 0px;
}

.nav img{

	width: 50%;
	height: 30%;
	box-shadow: 0px 0px 10px 3px grey;
	overflow: hidden;
	border: 5px solid black;
	margin-left: 25%;
}